.orderList{
    color: $color-brown;
    background-color: $color-lightbrown;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .aside{
        width: 25%;
        @include phone(){
            width: 100%;
            margin-bottom: 23px;
        }
        h2{
            font-size: $font-size-20;
            margin-bottom: 16px;
            i{
                margin-right: 10px;
            }
        }
        a{
            color: $color-brown;
            display: block;
            padding: 8px;
            border-bottom: 1px solid $color-brown;
            &:hover{
                color: #fff;
                background: $color-brown;
            }
        }
        .showActive{
            color: #fff;
            background: $color-brown;
        }
    }
    .menuList{
        width: 70%;
        @include phone(){
            width: 100%;
        }
    }
    .menuTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
        @include phone(){
            flex-direction: column;
        }
    }
    .search{
        width: 75%;
        display: flex;
        @include phone(){
            width: 100%;
            margin-bottom: 25px;
        }
        input{
            width: 90%;
            color: $color-brown;
            background: $color-lightbrown;
            border: 3px solid $color-brown;
            outline: none;
            text-indent: 5px;
            padding: 3px;
            &:focus{
                background: $color-lightwhite;
                border: 3px solid $color-orange;
            }
            &:focus~ .fa-search{
                background: $color-orange;
            }
        }
        .fa-search{
            color: #fff;
            background-color: $color-brown;
            padding: 10px;
            cursor: pointer;
        }
    }
    .goCart{
        width: 25%;
        display: flex;
        align-items: center;
        @include pad(){
            width: 40%;
        }
        @include phone(){
            width: 100%;
            justify-content: flex-end;
        }
        .pay,.fa-shopping-cart{
            color: $color-brown;
            padding: 0 10px;
            cursor: pointer;
            &:hover{
                color: $color-orange;
                font-weight: bold;
            }
        }
        .pay{
            position: relative;
            border-right: 2px solid $color-brown;
        }
        .fa-shopping-cart{
            font-size:$font-size-28;
            position: relative;
        }
        span{
            color: #fff;
            background:$color-orange;
            position: absolute;
            top: -10px;
            right: 3px;
            font-size: 10px;
            border: 2px solid $color-lightbrown;
            border-radius: 30px;
            padding: 1px 7px;
        }
    }
    .foodCard{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            width: 30%;
            text-align: center;
            box-shadow: 3px 3px 4px 0px rgba(128, 128, 128, 0.836);
            position: relative;
            margin-bottom: 30px;
            &:hover{
                transform: scale(1.06);
            }
            @include pad(){
                width: 48%;
            }
            @include phone(){
                width: 100%;
            }
            .fa-heart{
                color: #fff;
                font-size: $font-size-20;
                position: absolute;
                top: 5px;
                left: 5px;
                cursor: pointer;
                &:hover{
                    font-weight: bold;
                }
            }
            .active{
                font-weight: bold;
            }
        img{
            @include phone(){
                width: 100%;
            }
        }
    }
        .ribbon{
            width: 100px;
            height: 100px;
            overflow: hidden;
            position: absolute;
            top: -10px;
            right: -10px;
           
            .rightRibbon{
                color: #fff;
                background-color: #00CC99;
                text-align: center;
                position: relative;
                font: 600 15px/1 'Lato', sans-serif;
                top: 15px;
                right: 10px;
                width: 145px;
                padding: 10px 5px;
                transform: rotate(45deg);
                text-shadow: 0 2px 2px rgba(0,0,0,.1);
                box-shadow: 0 3px 5px gray;
                @include pad(){
                    font: 600 14px/1 'Lato', sans-serif;
                }
            }
        }
        .foodText{
            padding: 10px;
        }
        span{
            display: block;
            margin-bottom: 16px;
        }
        h3{
            font-size: $font-size-20;
        }
        h4{
            font-size: 14px;
        }
        hr{
            background-color: $color-brown;
            width: 55%;
            height: 1px;
            text-align: center;
            margin-bottom: 16px;
        }
        a{
            font-size: $font-size-16;
            color: $color-orange;
            border: 2px solid $color-orange;
            display: block;
            width: 100%;
            padding: 3px 0px;
            cursor: pointer;
            @include pad(){
                padding: 0px;
            }
            &:hover{
                color: #fff;
                background-color: $color-orange;
                transition: .5s;
            }
        }
        .fa-shopping-cart{
            margin-right: 10px;
        }
    }
}